<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Назначить KPI</title>
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static 'app/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <script type="text/javascript" src="{% static 'app/bootstrap/js/jquery-3.1.0.min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'app/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app/font-awesome/css/font-awesome.min.css' %}">
</head>
<body>
<nav class="nv navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-blue" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i> </button>
        <ul class="dropdown-menu moved-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/app/personal_information/">Личная информация</a></li>
            <li><a href="#">Настройки</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/app/logout/">Выход</a></li>
        </ul>
        </div>
        <h3 class="name1"><i class="fa fa-university" aria-hidden="true"></i> {{ profile.user.first_name }} {{ profile.user.last_name  }} &nbsp </h3>
    </div>
</nav>

<div class="nv-back divide-nav">
  <div class="back-link container">
    <h4 class="divide-text"><a href="/app/main/"><i class="fa fa-chevron-left" aria-hidden="true"></i>  Назад</a></h4>
  </div>
</div>

<div class="tasks">

    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 asg-kpi">
        <h3 class="center-text">Назначенные KPI</h3>
        <hr>
        <div class="kpi-info">
            <h4>Назначенные задания:</h4>
            {% for y in department_set %}<p>{{ y.kpi.name }} {{ y.comment }} {{ y.amount }} </p>{% endfor %}
            {% for x in percent %}<p>{{ x }} %</p>{% endfor %}
        </div>
    </div>

    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1 asg-kpi">
        <h3 class="center-text">Новый KPI</h3>
        <hr>
        <div class="kpi-info">
        <h4 class="padded-label">{{ department.name }}</h4>
        <h4 class="padded-label">Руководитель: {{ department.head.first_name }} {{ department.head.last_name }} {{ profile.third_name }}</h4>
            <form action="/app/assign_kpi/{{ id_department }}/" method="post" class="assign-kpi-form">
        {% csrf_token %}
        {{ form.as_p}}
        <h4 class="errorlabel center-text">{{ form_error }}</h4>
        <input type="submit" class="assign-button" value="Назначить">
        </form>

        </div>

    </div>

</div>



{#    <form action="/app/assign_kpi/{{ id_department }}/" method="post">#}
{#      {% csrf_token %}#}
{#      {{ creation_form }}#}
{#      <input type="submit" class="login-button" value="Создать KPI">#}
{#      {{ form_error }}#}
{#    </form>#}

</body>
</html>