<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>inUNI</title>
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="../../static/app/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <script type="text/javascript" src="{% static 'app/bootstrap/js/jquery-3.1.0.min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../static/app/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/app/font-awesome/css/font-awesome.min.css">
</head>
<body>
{{ assigned_kpi.kpi.name }}<br>
Описание задания:<br>{{ assigned_kpi.comment }}<br>
Требуемое количество: {{ assigned_kpi.amount }}<br>
Крайний срок: {{ assigned_kpi.deadline }}<br>
Процент выполнения: {{ percent }} % <br>
    {{ access_error }}
    {% if assigned_kpi.accepted == None %}
        {% if access_flag == False %}
    <a href="/app/kpi/accept/{{ assigned_kpi.id }}"><li>Принять</li></a>
    <a href="/app/kpi/reject/{{ assigned_kpi.id }}"><li>Отклонить</li></a>
            {% endif %}
        {% endif %}
    {% if assigned_kpi.accepted == True %}
        {% if access_flag == False %}
        <form action="/app/kpi/report/{{ assigned_kpi.id }}/" method="post" name="form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Доложить">
        </form>
            {% endif %}
        {% endif %}
Комментарии
{% for x in comments_set %}
{{ x.datetime }} {{ x.text }} {{ x.sender }} <br>
{% endfor %}
<form action="/app/kpi/send_comment/" method="post">
    {% csrf_token %}
{{ comment_form }}
<input type="submit" value="Отправить">
</form>
</body>
</html>