<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Личная информация</title>
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'app/style.css' %}">
    <!-- Bootstrap -->
    <link href="../../static/app/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="{% static 'app/bootstrap/js/jquery-3.1.0.min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../static/app/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/app/font-awesome/css/font-awesome.min.css">
</head>
<body>
{% if personal_information %}
<div class="header">
	<h2 class="name"><i class="fa fa-university" aria-hidden="true"></i>&nbsp inUNI</h2>
    <div class="border"><h4 class="about">О проекте</h4></div>
</div>
    Username: {{ personal_information.user.username }} <br>
    Имя: {{ personal_information.user.first_name }} <br>
    Фамилия:{{ personal_information.user.last_name }} <br>
    Отчество:{{ personal_information.third_name }} <br>
    Направление: {{ personal_information.department }} <br>
    Должность: {{ personal_information.position }} <br>
    <a href="/app/main/">Назад</a>
{% else %}
{% endif %}


</body>
</html>